{% extends 'shared/_layout.html' %}

{% block main_content %}
  <h1>Subjects</h1>

  <h2>Add Subjects</h2>  
  <form action='' method='Post' class='form'>
    <div class='form-group'>
      <label for='name' class=''>Name</label>
      <input type='text' name='name' value="{{ name }}" class='form-control'>

      <label for='description' class=''>Description</label>
      <input type='text' name='description' value="{{ description }}" class='form-control'>

     <button type='submit' class='btn btn-primary'>Add</button>
     </div>
  </form>

  {% if errors %}
    <div>{{ errors }}</div>
  {% endif %}
{% endblock %}
