{% extends 'shared/_layout.html' %}

{% block main_content %}
  <h1>Login Account</h1>

  <form action='' method='POST' class='form'>
    <div class='form-group'>
      <label for='email'>Email</label>
      <input type='email' name='email' class='form-control' value='{{ email }}' placeholder='name@host.domain' required>
      <label for='password'>Password</label>
      <input type='password' name='password' class='form-control' required>
      <button type='submit' class='btn btn-success'>Login</button>
    </div>
    {% if errors %}
      <div class='errors'>
        {{ errors }}
      </div>
    {% endif %}
  </form>
{% endblock %}
{% block add_js %}
{% endblock %}
